<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8">

    <title>TITLE</title>

  </head>

  <body>

<form action="/checkout" method="post">
  <p>Item: <input type="text" name="item"></p>
  <button type="submit">submit</button>
</form>
  </body>

</html>
